header, footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100%;
    background: linear-gradient(120deg, #3498db,#8e44ad);
    color: #fff;
}
.Images{
    margin-top: 10px;
    display: block;
    text-align: center;
    padding: 0;
}
button{
    background:white;
    border: none;
    outline: none;
}
img{
    height: 500px;
    width: 500px;
}
#count_det1,#count_det2{
    text-align: center;
    font-weight: bold;
}

@media (max-width:500px)
{
    img{
        width: 100%;
        height: auto;
    }

}